/* You can add global styles to this file, and also import other style files */
.dot {
  position: absolute !important;
  width: 10px !important;
  height: 10px !important;
  background-color: black !important;
  border-radius: 50% !important;
  border: 1px solid black !important;
  z-index: 10 !important;
}

/* .container {
  position: relative;
} */


.form-container {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  white-space: nowrap;

  animation: fadeIn 0.5s ease-in-out; /* Primena fadeIn animacije */


}

.form-container input {
  display: block;
  margin-bottom: 5px;
  width: calc(100% - 10px);
}

.form-container button {
  display: block;
  margin-top: 5px;
  width: calc(100% - 10px);
}

.form-container.show {
  animation: fadeIn 0.5s ease-in-out; /* Primena fadeIn animacije */
}


svg line {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 5, 5; /* Pattern: 5px dash, 5px gap */
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-list-item {
  justify-content: space-between;
}

mat-card {
  margin-bottom: 20px;
}


.item-wrapper {
  margin-top: 20px; /* Razmak između svakog elementa u listi */
}

#element-list {
  display: grid;
  gap: 120px; /* Razmak između elemenata */
}

.saved-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
}
