

.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.register-link {
  text-align: center; /* Centriranje teksta */
  margin-top: 20px; /* Dodavanje razmaka između formulara za prijavu i teksta za registraciju */
}

.register-link a {
  color: #007bff; /* Boja linka */
  text-decoration: none; /* Uklanjanje podvučenosti */
}

.register-link a:hover {
  text-decoration: underline; /* Podvučavanje teksta prilikom prelaska preko linka */
}
